#about {
  text-align: left;
  margin: 11px auto;
  padding: 76px 1px;
  width: 85%;
}

.name {
  font-size: 28px;
}

.first-col-button {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.4s ease-in;
}

.postfolio-btn:hover {
  color: #000000;
  text-decoration: underline;
}

.postfolio-btn {
  color: #7f158a;
}

.right-content {
  display: flex;
  flex-direction: column;
}

.my-button {
  font-family: inherit;
  border: 1px solid white;
  font-size: 16px;
  padding: 6px 15px;
  margin: 33px 0;
  background: #848484;
  color: white;
  transition: all 0.6s ease;
  border-radius: 23px;
}

.content-right {
  margin: 15px 0;
}

.my-button:hover {
  background-color: #7f158a;
  cursor: pointer;
  color: #e8e8e8;
}

.follow-handle {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.quote {
  margin-right: 9px;
}

.anchor {
  color: #7f158a;
}

.fa-handshake {
  margin-left: 6px;
}

.figure-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {

  margin: 4px 48px;
  border-radius: 800px;
}

.container {
  display: block;
}

.social-icon {
  font-size: 30px;
  display: flex;
  color: #430c49;
  align-items: center;
  gap: 9px;
  transition: all 0.5s ease-in;
}

.social-icon:hover {
  color: #a36ca9;
}

/* .hero-subtitle {
  width: 50%;
} */

.hero-image {
  width: 305px;
}

.animated-text {
  animation: slideFadeIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 908px) {
  .hero-image {
    width: 403px;
  }

  .hero-subtitle {
    width: 100%;
  }
}

@media (min-width: 887px) {
  .container {
    display: flex;
    align-items: center;
  }

  .hero-image {
    width: 400px;
  }

  .hero-subtitle {
    width: 80%;
  }
}